.App {
  text-align: center;
}

.nupp {
  background-color: rgb(99, 231, 99);
  color: rgb(112, 111, 111);
}

.nupp:hover {

  height: 100px

}

.nupp:active {

  cursor: grab
}

.sinine-tekst {

  color: blue;
  font-style: italic;
}

.sinine-tekst:hover {

  font-size: 24px
}

.roheline-tekst {
  
  color: green;
  font-size: 33px;
  font-weight: bold;
  -webkit-text-stroke-color: red;
  -webkit-text-stroke-width: 1px;
}
.roheline-tekst:hover {
  -webkit-text-stroke-color: brown;
  -webkit-text-stroke-width: 1px;

}

.pilt {

  width: 500px;
  height: 250px;

}
